<a href="https://colab.research.google.com/github/juanicolombo97/TP-Python-G2/blob/main/Trabajo_Grupo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Integrador Grupo 2

### Imports

In [ ]:
# Imports
import pandas as pd

### Codigo

#### Clase Archivo

In [ ]:
class Archivo:

    # Clase que se encarga de manejar un archivo.
  def __init__(self, link_archivo):
    self.link_archivo = link_archivo
    self.archivo = None
    self.archivo_leido = False

  def leer_archivo(self):
    # Funcion que lee un archivo csv y lo almacena en la variable self.archivo como un dataframe.
    try:
      self.archivo = pd.read_csv(self.link_archivo)
    except FileNotFoundError:
      return 'El archivo no se encontro.' 
    else:
      self.archivo_leido = True
      return "El archivo se abrio correctamente."

  def obtener_dataframe(self):
    # Devuelve el dataframe y si no lanza un error que no se leyo el archivo.
    if self.archivo_leido:
      return self.archivo
    return 'No se encuentra un archivo leido.'

#### Clase UnirDataFrames

In [ ]:
class UnirDataFrames:
  
  # Clase que recive en el constructor una lista de archivos y los une.
  def __init__(self, lista_archivos):
    self.dataframe_final = pd.concat(lista_archivos)

  def obtener_dataframe_final(self):
    return self.dataframe_final


### Pruebas

#### Prueba 1

Nos fijamos que si se pasa un archivo invalido a la clase Archivo me salta error.

In [ ]:
archivo_prueba_0 = Archivo("ewdwed.csv")
archivo_prueba_0.leer_archivo()

'El archivo no se encontro.'

#### Prueba 2
Nos fijamos que si se recibe un archivo valido lee el archivo correctamente.

In [ ]:
archivo_prueba_1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
print(archivo_prueba_1.leer_archivo())

El archivo se abrio correctamente.

#### Prueba 3
Probamos obtener un archivo que sin leerlo y salta error.

In [ ]:
archivo1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo1.obtener_dataframe()

'No se encuentra un archivo leido.'

#### Prueba 4
Se obtiene el dataframe, una ves que ya se leyo el archivo.

In [ ]:
archivo1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo1.leer_archivo()
archivo1.obtener_dataframe()

     PROVINCIA;MUNICIPIO;ESTACION;MAGNITUD;PUNTO_MUESTREO;ANO;MES;D01;V01;D02;V02;D03;V03;D04;V04;D05;V05;D06;V06;D07;V07;D08;V08;D09;V09;D10;V10;D11;V11;D12;V12;D13;V13;D14;V14;D15;V15;D16;V16;D17;V17;D18;V18;D19;V19;D20;V20;D21;V21;D22;V22;D23;V23;D24;V24;D25;V25;D26;V26;D27;V27;D28;V28;D29;V29;D30;V30;D31;V31
0     28;079;4;1;28079004_1_38;2016;01;00008;V;00007...
1     28;079;4;1;28079004_1_38;2016;02;00012;V;00013...
2     28;079;4;1;28079004_1_38;2016;03;00011;V;00010...
3     28;079;4;1;28079004_1_38;2016;04;00008;V;00009...
4     28;079;4;1;28079004_1_38;2016;05;00007;V;00008...
...                                                 ...
1807  28;079;60;14;28079060_14_6;2016;08;00093;V;000...
1808  28;079;60;14;28079060_14_6;2016;09;00085;V;000...
1809  28;079;60;14;28079060_14_6;2016;10;00052;V;000...
1810  28;079;60;14;28079060_14_6;2016;11;00028;V;000...
1811  28;079;60;14;28079060_14_6;2016;12;00037;V;000...

[1812 rows x 1 columns]

#### Prueba 5

Nos fijamos que se pueda unir los dataframes correctamente.

In [ ]:
# Archivo 1
archivo1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo1.leer_archivo()
# Archivo 2
archivo2 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo2.leer_archivo()
# Archivo 3
archivo3 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo3.leer_archivo()
# Archivo 4
archivo4 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo4.leer_archivo()

union_dfs = UnirDataFrames([archivo1.obtener_dataframe(), archivo2.obtener_dataframe(), archivo3.obtener_dataframe(), archivo4.obtener_dataframe()])
union_dfs.obtener_dataframe_final()

     PROVINCIA;MUNICIPIO;ESTACION;MAGNITUD;PUNTO_MUESTREO;ANO;MES;D01;V01;D02;V02;D03;V03;D04;V04;D05;V05;D06;V06;D07;V07;D08;V08;D09;V09;D10;V10;D11;V11;D12;V12;D13;V13;D14;V14;D15;V15;D16;V16;D17;V17;D18;V18;D19;V19;D20;V20;D21;V21;D22;V22;D23;V23;D24;V24;D25;V25;D26;V26;D27;V27;D28;V28;D29;V29;D30;V30;D31;V31
0     28;079;4;1;28079004_1_38;2016;01;00008;V;00007...
1     28;079;4;1;28079004_1_38;2016;02;00012;V;00013...
2     28;079;4;1;28079004_1_38;2016;03;00011;V;00010...
3     28;079;4;1;28079004_1_38;2016;04;00008;V;00009...
4     28;079;4;1;28079004_1_38;2016;05;00007;V;00008...
...                                                 ...
1807  28;079;60;14;28079060_14_6;2016;08;00093;V;000...
1808  28;079;60;14;28079060_14_6;2016;09;00085;V;000...
1809  28;079;60;14;28079060_14_6;2016;10;00052;V;000...
1810  28;079;60;14;28079060_14_6;2016;11;00028;V;000...
1811  28;079;60;14;28079060_14_6;2016;12;00037;V;000...

[7248 rows x 1 columns]

### Soluciones Ejercicios

#### Ejercicio 1

In [ ]:
# Archivo 1
archivo1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo1.leer_archivo()
# Archivo 2
archivo2 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo2.leer_archivo()
# Archivo 3
archivo3 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo3.leer_archivo()
# Archivo 4
archivo4 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download")
archivo4.leer_archivo()

union_dfs = UnirDataFrames([archivo1.obtener_dataframe(), archivo2.obtener_dataframe(), archivo3.obtener_dataframe(), archivo4.obtener_dataframe()])
union_dfs.obtener_dataframe_final()

     PROVINCIA;MUNICIPIO;ESTACION;MAGNITUD;PUNTO_MUESTREO;ANO;MES;D01;V01;D02;V02;D03;V03;D04;V04;D05;V05;D06;V06;D07;V07;D08;V08;D09;V09;D10;V10;D11;V11;D12;V12;D13;V13;D14;V14;D15;V15;D16;V16;D17;V17;D18;V18;D19;V19;D20;V20;D21;V21;D22;V22;D23;V23;D24;V24;D25;V25;D26;V26;D27;V27;D28;V28;D29;V29;D30;V30;D31;V31
0     28;079;4;1;28079004_1_38;2016;01;00008;V;00007...
1     28;079;4;1;28079004_1_38;2016;02;00012;V;00013...
2     28;079;4;1;28079004_1_38;2016;03;00011;V;00010...
3     28;079;4;1;28079004_1_38;2016;04;00008;V;00009...
4     28;079;4;1;28079004_1_38;2016;05;00007;V;00008...
...                                                 ...
1807  28;079;60;14;28079060_14_6;2016;08;00093;V;000...
1808  28;079;60;14;28079060_14_6;2016;09;00085;V;000...
1809  28;079;60;14;28079060_14_6;2016;10;00052;V;000...
1810  28;079;60;14;28079060_14_6;2016;11;00028;V;000...
1811  28;079;60;14;28079060_14_6;2016;12;00037;V;000...

[7248 rows x 1 columns]