<a href="https://colab.research.google.com/github/juanicolombo97/TP-Python-G2/blob/main/Trabajo_Grupo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabajo Integrador Grupo 2

### Imports

In [251]:
# Imports
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt

### Codigo

#### Clase Archivo

In [237]:
class Archivo:

    # Clase que se encarga de manejar un archivo.
  def __init__(self, link_archivo, separador):
    self.link_archivo = link_archivo
    self.separador = separador
    self.archivo = None
    self.archivo_leido = False
    

  def leer_archivo(self):
    # Funcion que lee un archivo csv y lo almacena en la variable self.archivo como un dataframe.
    try:
      self.archivo = pd.read_csv(self.link_archivo, sep=self.separador)
    except FileNotFoundError:
      return 'El archivo no se encontro.' 
    else:
      self.archivo_leido = True
      return "El archivo se abrio correctamente."

  def obtener_dataframe(self):
    # Devuelve el dataframe y si no lanza un error que no se leyo el archivo.
    if self.archivo_leido:
      return self.archivo
    return 'No se encuentra un archivo leido.'

#### Clase ManejoDataFrames

In [238]:
class ManejoDataFrame:
  
  # Clase que recive en el constructor una lista de archivos y los une.
  def __init__(self):
    pass

  def concatenar_dataframes(self, lista_archivos):
    return pd.concat(lista_archivos)

  def filtrar_dataframe(self, dataframe,  lista_columnas):
    return dataframe[lista_columnas]

  def filtrado_formato_largo(self, dataframe, lista_vars, nombre_variable, valor_nombre):
    return dataframe.melt(id_vars=lista_vars, var_name=nombre_variable, value_name=valor_nombre)

  def convercion_datetime(self, dataframe):
    dataframe['DIA'] = dataframe['DIA'].str.strip('D')
    dataframe['FECHA'] = dataframe['DIA'].astype(str) + '/' + dataframe['MES'].astype(str) + '/' + dataframe['ANO'].astype(str)
    dataframe['FECHA'] = pd.to_datetime(dataframe['FECHA'], format="%d/%m/%Y", errors='coerce')
    return dataframe

  def eliminar_datos_invalidos(self, dataframe, columna):
    return dataframe.drop(dataframe[np.isnat(dataframe[columna])].index, inplace=False)

  def ordenar_dataframe(self, dataframe,  lista_columnas):
    return dataframe.sort_values(lista_columnas)

  def obtener_valores_columna(self, dataframe, columna):
    return dataframe[columna].unique()

  def obtener_descripcion(self, dataframe, columna):
    return dataframe.groupby(columna).CONTAMINANTE.describe()

  def obtener_info_pedida(self, dataframe, magnitud, estacion):
    return dataframe[(dataframe['ESTACION'] == estacion) & (dataframe['MAGNITUD'] == magnitud)].CONTAMINANTE.describe()

  def mediciones_segun_estacion(self, dataframe, estacion, magnitud):
    lista_mediciones_estacion = []
    df_modificado = dataframe[(dataframe['ESTACION'] == estacion) & (dataframe['MAGNITUD'] == magnitud)]
    for medicion in df_modificado['CONTAMINANTE']:
      lista_mediciones_estacion.append(medicion)
    return lista_mediciones_estacion

#### Clase Contaminante

In [239]:
class Contaminante:
  def __init__(self, diccionario):
    self.diccionario = diccionario

  def mostrar_contaminantes(self, lista_codigo):
    print("\nLos contaminantes son: ")
    for contaminante in lista_codigo:
      if contaminante in self.diccionario:
        print(self.diccionario[contaminante])

#### Clase Estacion

In [240]:
class Estacion:
  def __init__(self, diccionario):
    self.diccionario = diccionario

  def mostrar_estaciones(self, lista_codigo):
    print("\nLas estaciones son: ")
    for estacion in lista_codigo:
      if estacion in self.diccionario:
        print(self.diccionario[estacion])

### Soluciones Ejercicios

#### Ejercicio 1

In [241]:
# Archivo 1
archivo1 = Archivo("https://drive.google.com/u/0/uc?id=1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz&export=download", ';')
archivo1.leer_archivo()
# Archivo 2
archivo2 = Archivo("https://drive.google.com/u/0/uc?id=1R5JLin8d2BhHFKSQhX2hP2bGPRCvR8Xj&export=download", ';')
archivo2.leer_archivo()
# Archivo 3
archivo3 = Archivo("https://drive.google.com/u/0/uc?id=1qoB3OcPDUkerswT02uAvLshTT7J0qTWQ&export=download", ';')
archivo3.leer_archivo()
# Archivo 4
archivo4 = Archivo("https://drive.google.com/u/0/uc?id=1pAbH8EwHm9KkUzyiy56auH0DvLT_DkAO&export=download", ';')
archivo4.leer_archivo()

manejo_df = ManejoDataFrame()
dataframe_concatenado = manejo_df.concatenar_dataframes([archivo1.obtener_dataframe(), archivo2.obtener_dataframe(), archivo3.obtener_dataframe(), archivo4.obtener_dataframe()])

#### Ejercicio 2

In [242]:
lista_cols = ['ESTACION','MAGNITUD','ANO', 'MES']
for col in dataframe_concatenado:
  if col[0] == 'D':
    lista_cols.append(col)

dataframe_filtrado = manejo_df.filtrar_dataframe(dataframe_concatenado, lista_cols)
dataframe_filtrado

      ESTACION  MAGNITUD   ANO  MES   D01  ...   D27   D28   D29    D30   D31
0            4         1  2016    1   8.0  ...   9.0   7.0   8.0    9.0   9.0
1            4         1  2016    2  12.0  ...   7.0   8.0   9.0    0.0   0.0
2            4         1  2016    3  11.0  ...   8.0   7.0   8.0   10.0   8.0
3            4         1  2016    4   8.0  ...   9.0   8.0   8.0    8.0   0.0
4            4         1  2016    5   7.0  ...   7.0   7.0   7.0    7.0   7.0
...        ...       ...   ...  ...   ...  ...   ...   ...   ...    ...   ...
1831        60        14  2019    8  94.0  ...  88.0  90.0  99.0  108.0  98.0
1832        60        14  2019    9  88.0  ...  54.0  68.0  70.0   55.0   0.0
1833        60        14  2019   10  44.0  ...  28.0  33.0  16.0   19.0  47.0
1834        60        14  2019   11  41.0  ...  55.0  52.0  47.0   56.0   0.0
1835        60        14  2019   12  47.0  ...  17.0  13.0  14.0    5.0   4.0

[7266 rows x 35 columns]

#### Ejercicio 3

In [243]:
df_dias_filtrado = manejo_df.filtrado_formato_largo(dataframe_filtrado, ['ESTACION','MAGNITUD','ANO', 'MES'], 'DIA', 'CONTAMINANTE')
df_dias_filtrado

        ESTACION  MAGNITUD   ANO  MES  DIA  CONTAMINANTE
0              4         1  2016    1  D01           8.0
1              4         1  2016    2  D01          12.0
2              4         1  2016    3  D01          11.0
3              4         1  2016    4  D01           8.0
4              4         1  2016    5  D01           7.0
...          ...       ...   ...  ...  ...           ...
225241        60        14  2019    8  D31          98.0
225242        60        14  2019    9  D31           0.0
225243        60        14  2019   10  D31          47.0
225244        60        14  2019   11  D31           0.0
225245        60        14  2019   12  D31           4.0

[225246 rows x 6 columns]

#### Ejercicio 4

In [244]:
df_dias_filtrado_datetime = manejo_df.convercion_datetime(df_dias_filtrado)
df_dias_filtrado_datetime

        ESTACION  MAGNITUD   ANO  MES DIA  CONTAMINANTE      FECHA
0              4         1  2016    1  01           8.0 2016-01-01
1              4         1  2016    2  01          12.0 2016-02-01
2              4         1  2016    3  01          11.0 2016-03-01
3              4         1  2016    4  01           8.0 2016-04-01
4              4         1  2016    5  01           7.0 2016-05-01
...          ...       ...   ...  ...  ..           ...        ...
225241        60        14  2019    8  31          98.0 2019-08-31
225242        60        14  2019    9  31           0.0        NaT
225243        60        14  2019   10  31          47.0 2019-10-31
225244        60        14  2019   11  31           0.0        NaT
225245        60        14  2019   12  31           4.0 2019-12-31

[225246 rows x 7 columns]

#### Ejercicio 5

In [245]:
df_fitrado_sin_invalidos = manejo_df.eliminar_datos_invalidos(df_dias_filtrado_datetime, 'FECHA')
df_fitrado_sin_invalidos = manejo_df.ordenar_dataframe(df_fitrado_sin_invalidos, ['ESTACION', 'CONTAMINANTE', 'FECHA'])
df_fitrado_sin_invalidos

        ESTACION  MAGNITUD   ANO  MES DIA  CONTAMINANTE      FECHA
172582         4         7  2019   11  24           0.0 2019-11-24
172594         4         8  2019   11  24           0.0 2019-11-24
172606         4        12  2019   11  24           0.0 2019-11-24
83571          4         6  2018   10  12           0.1 2018-10-12
90837          4         6  2018   10  13           0.1 2018-10-13
...          ...       ...   ...  ...  ..           ...        ...
68994         60        12  2017    1  10         282.0 2017-01-10
156197        60        12  2017   12  22         282.0 2017-12-22
81725         60        12  2016   12  12         287.0 2016-12-12
154385        60        12  2016   12  22         319.0 2016-12-22
101700        60        12  2019    1  14         328.0 2019-01-14

[221158 rows x 7 columns]

#### Ejercicio 6

In [246]:
lista_contaminantes = manejo_df.obtener_valores_columna(df_fitrado_sin_invalidos, 'MAGNITUD')
dicc = {1: "Dióxido de azufredo",5:"Monóxido de carbono",7:"Monóxido de nitrógeno",8:"Dióxido de nitrógeno",9:"particulas <2.5um",10:"Partículas<10um",12:"Óxidos de nitrógeno",14:"Ozono",20:"Tolueno",30:"Benceno",
        35:"Etilbenceno",37:"Metaxileno",38:"paraxileno",39:"Ortoxileno",42:"Hidrocarburos Totales(hexano)",43:"Metano",44:"Hidrocarburosno metánicos(hexano)"}
contaminantes = Contaminante(dicc)
contaminantes.mostrar_contaminantes(lista_contaminantes)

lista_estaciones = manejo_df.obtener_valores_columna(df_fitrado_sin_invalidos, 'ESTACION')
datos2={1:"P°.recoletos",2:"Glta de Carlos V",35:"Pza del Carmen",4:"Pza de España",39:"Barrio del Pilar",6:"Pza dr Marañon",7:"Pza M. de Salamanca",8:"Escuelas Aguirre",9:"Pza Luca de Tena",38:"Cuatro caminos",
        11:"Av Ramón y Cajal",12:"Pza Manuel Becerra",40:"Vallecas",14:"Pza Fdez Ladreda",15:"Pza Castilla",16:"Arturo Soria",17:"Villaverde alto",18: "calle farolillo",19:"Huerta Castañeda",36:"Moratalaz",
        21:"Pza Cristo Rey",22:"P° Pontones",23:"Final c/alcala",24:"Casa de Campo",25:"Santa Eugenia",26:"Urb Embajada(Barajas)",27:"Barajas",47:"Mendez Alvaro",48:"P° Castellana",49:"Retiro",50:"Pza Castillana",
        54:"Ensanche Vallecas",55:"Urb Embajada(Barajas)",56:"Pza Elíptica",57:"Sanchinarro",58: "El pardo",59:"Padre Juan Carlos I",60:"Tres Olivos"}
estaciones = Estacion(datos2)
estaciones.mostrar_estaciones(lista_estaciones)

Los contaminantes son:
Monóxido de nitrógeno
Dióxido de nitrógeno
Óxidos de nitrógeno
Dióxido de azufredo
Metano
Hidrocarburos Totales(hexano)
Tolueno
Benceno
Etilbenceno
Hidrocarburosno metánicos(hexano)
particulas <2.5um
Partículas<10um
Ozono

Las estaciones son:
Pza de España
Escuelas Aguirre
Av Ramón y Cajal
Arturo Soria
Villaverde alto
calle farolillo
Casa de Campo
Barajas
Pza del Carmen
Moratalaz
Cuatro caminos
Barrio del Pilar
Vallecas
Mendez Alvaro
P° Castellana
Retiro
Pza Castillana
Ensanche Vallecas
Urb Embajada(Barajas)
Pza Elíptica
Sanchinarro
El pardo
Padre Juan Carlos I
Tres Olivos

#### Ejercicio 7

In [247]:
df_descripcion_contaminantes = manejo_df.obtener_descripcion(df_fitrado_sin_invalidos, 'MAGNITUD')
df_descripcion_contaminantes

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

#### Ejercicio 8

In [248]:
df_descripcion_contaminantes_estaciones = manejo_df.obtener_descripcion(df_fitrado_sin_invalidos, ['MAGNITUD','ESTACION'])
df_descripcion_contaminantes_estaciones

                    count      mean        std   min   25%   50%    75%     max
MAGNITUD ESTACION
1        4         1461.0  7.329911  16.379050  1.00  4.00  7.00   9.00  610.00
         8         1461.0  8.375770   4.364607  0.00  5.00  8.00  11.00   24.00
         17        1461.0  8.137577   7.523450  1.00  4.00  8.00  11.00  234.00
         18        1461.0  6.655715   3.995702  0.00  4.00  6.00   9.00   20.00
         24        1461.0  3.619439   1.479635  0.00  3.00  4.00   4.00   33.00
...                   ...       ...        ...   ...   ...   ...    ...     ...
43       24        1461.0  1.169514   0.139236 -0.08  1.14  1.18   1.22    1.97
         55        1461.0  1.246242   0.207635 -0.14  1.14  1.27   1.36    1.78
44       8         1461.0  0.115688   0.072236  0.00  0.07  0.11   0.14    1.31
         24        1461.0  0.070520   0.034688  0.00  0.05  0.06   0.09    0.44
         55        1461.0  0.140616   0.072450  0.00  0.09  0.13   0.17    0.75

[153 rows x 8 columns]

#### Ejercicio 9

In [249]:
df_contaminante_estacion = manejo_df.obtener_info_pedida(df_fitrado_sin_invalidos, 7, 4)
df_contaminante_estacion

count    1461.000000
mean       31.939767
std        37.667968
min         0.000000
25%         8.000000
50%        16.000000
75%        42.000000
max       239.000000
Name: CONTAMINANTE, dtype: float64

#### Ejercicio 10

In [250]:
lista_mediciones = manejo_df.mediciones_segun_estacion(df_fitrado_sin_invalidos, 4, 7)
lista_mediciones

[0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 7.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 ...]

#### Ejercicio 11